{% extends "layout3.html" %}

{% block body %}
    <small>Hoşgeldin, {{session["username"]}} </small>
    <hr>
        <h3>Todo List</h3>
        <hr>
        <a href="/addTodo" class = "btn btn-danger">Todo Ekle</a>
        <br><br>
        {% if todos == [] %}
            <div class="alert alert-warning" role="alert">
                Herhangi bir Todo'nuz bulunmuyor...
            </div>
        {% else %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Todo Başlık</th>
                <th scope="col">Todo Durum</th>
                <th scope="col">Durum Güncelle</th>
                <th scope="col">Todo Sil</th>
              </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                     <tr>
                        <th scope="row">{{todo.id}}</th>
                        <td>{{todo.title}}</td>
                        {% if todo.complete == False %}
                            <td class = "table-danger">Tamamlanmadı</td>
                        {% else %}
                            <td class = "table-success">Tamamlandı</td>
                        {% endif %}
                        <td><a href = "/complete/{{todo.id}}" class = "btn btn-success">Tamamla</a></td>
                        <td><a href = "/delete/{{todo.id}}" class = "btn btn-danger">Sil</a></td>
                     </tr>
                {% endfor %}
            </tbody>
          </table>

          {% endif %}

{% endblock body %}